@font-face {
    font-family: 'Address Sans Pro';
    src: url('font/AddressSansPro-Regular.woff2') format('woff2'),
        url('font/AddressSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
  opacity: 0;
  transition: opacity .5s;
  background-image: url("../img/background2.jpg");
  background-color: #ffffff;
  color: #000;
  background-size: cover;
    font-family: 'Address Sans Pro';
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
}
.rowmenu{
  --bs-gutter-x: 0rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.menusection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #222223;
    z-index: 100;
}
.menubuttonphone1 {
  color: #ffffff;
  border: none;
  background-color: inherit;
  margin-top: 14px;
  margin-left: 25px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  transition: all 40ms; 
  padding-right: 20px;  
}
.menubuttonphone2 {
  color: #ffffff;
  border: none;
  background-color: inherit;
  margin-top: 14px;
  margin-right: 25px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  transition: all 40ms;
  padding-left: 20px; 
}
.menubutton1 {
  color: #ffffff;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  transition: all 40ms;   
}
.menubutton2 {
  color: #ffffff;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  transition: all 40ms;  
}
.menulist {
    margin-top: 40vh;
    text-align: center;
    color: white!important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menulistul{
  list-style-type: none;
  text-decoration: none;
  
}
.logoimagemodal {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.logoimage {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.row{--bs-gutter-x: 0rem;}
.svg{vertical-align: middle;}
.footer {background-color:#222222}
.rowq {margin-bottom: 100px;}
.herodiv{height: 125px;}
.containerform{background-color: #FFF; color: #1324dd; height: 245px;}
.menubutton2:hover {color: #dbdbdb}
.menubutton1:hover {color: #dbdbdb}
.modal-header {background-color: #1324dd; color:#ffffff;border-radius: 0px;}
.modal-body {background-color: #222223;color: #ffffff;}
.menulink {transition: all 40ms}
.menulink:hover{ font-size:37px;}
.btn-close-modal:hover{color: #c4c4c4;}
.modalimage {margin-bottom: 2%;}
a {color: #fff;}
a:link {color: white;}
a:visited {color: white;}
a:hover {color: #ffffff}
a:active {color: white;}
.menudiv1{text-align: left; float: right;}
.menudiv2{margin-left: auto; margin-right: auto; max-width: 370px;}
.menudiv3{text-align: right; float: left;}
.menucontainer{height: 100px;}
.btn-primary{background-color: #222222; font-weight: 400; color: #FFF;border-radius: 0px;}
.btn-primary2{background-color: #222222;color: #FFF; font-weight: 400;border-radius: 0px;}
.btn-primary:hover{color: #ffffff; background-color: #00009e;border-radius: 0px;}
.modal-body-cart {background-color: #ffffff color #1324dd;}
.modal-footer-cart {text-align: center; background-color: #1324dd; color: white;}
.modal-content{border-radius: 0px;}
.btn-secondary-cart{background-color: #1324dd; color: #ffffff;border-radius: 0px;}
.btn-secondary-cart:hover{background-color: #00009e; color: #ffffff;border-radius: 0px;}
.btn-primary-cart{background-color: #1324dd; color: #ffffff;border-radius: 0px;}
.btn-primary-cart:hover{background-color: #00009e; color: #ffffff;border-radius: 0px;}
.footerinsta{display: flex; justify-content: center; align-items: center; margin: 0% !important;}
.teamtitle{color: rgb(36, 36, 36); text-align:center; font-weight: 500; margin-top: 4%;}
.menutitle{color: rgb(36, 36, 36); text-align:center; font-weight: 500;margin-left: 25px;margin-right: 25px;}
.menutitlewelcome{color: rgb(36, 36, 36); text-align:center; font-weight: 500;margin-left: 25px;margin-right: 25px; margin-top: 45px;}
.menutitle2{color: rgb(36, 36, 36); font-weight: 500;text-align:center; margin-bottom: 4%;margin-left: 25px;margin-right: 25px;}
.menutext{color: rgb(36, 36, 36); font-weight: 500;text-align:center; margin-bottom: 4%; font-size: large;}
.carticon{width: 50px;}
.btn:hover{color: #ffffff;border-radius: 0px;}
.form-check-input:checked{border-color: #1324dd;background-color: #1324dd;}
.mapa{
  position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.slide-container{

  width: 90vw;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.card{
  background-color: #FFF;
  border: none;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1324dd;
  border-radius: 0px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #1324dd;
}
.overlay::after{
  border-radius: 0px;
  background-color: #00009e;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #1324dd;
  border-radius: 0px; 
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #00009e;
}
.product-card {
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
  border-radius: 0%;
  border: none;
}
.product-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.card-body {
  padding: 15px;
}
@media (max-width: 768px) {
  .team-col {
    width: 100%; 
  }
}
@media (min-width: 768px) {
  .team-col {
    width: 33.33%;
  }
}
@media (max-width: 768px) {
  .product-col {
    width: 50%; 
  }
}
@media (min-width: 768px) {
  .product-col {
    width: 33.33%; 
  }
}
.teamimage{max-width: 100%;}
.team-col{margin-right: 2%;}
.product-col{margin-right: 1%;}
.carousel {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.carousel-phone {
  width: 95%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-control-prev {
  color:#1324dd
}

.carousel-control-next {
  color:#1324dd
}

.close {
  font-size: 1.5rem;
}
.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}
.col-12 img:hover {
  opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.upper-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.39s;
  opacity: 0;
}

.upper-image:hover {
  opacity: 1;
}
.cardteam{
  background-color: #FFF;
  border: none;
  margin-bottom: 20px;
  width: calc(25% - 10px);
}
.display-4{margin-top: 5%;}
.btn-map{margin-bottom: 4%;border-radius: 0px;}
.div-map{margin-top: 4%;}

.contact-form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #222222;
  border-radius: 0px;
  box-sizing: border-box;
  
}
.form-control-own{
  position: relative;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #272727;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  box-sizing: border-box;
}
.form-control-own:focus {
  border-radius: 0;
}
.btn-close-modal{
  font-weight: 200;
  color: #FFF;
}

.sname{
  font-weight: bold;
  transition: all 40ms;
}
  
.sname:hover {
  font-size:20px;
}
.fa-instagram{transition: all 50ms;}
.fa-instagram:hover{
  font-size:38px;
  font-size-adjust: 20px;
}
.card-title{font-size: 1.3rem; font-weight:bold;}
.card-text{font-size: 1.1rem; font-weight: 100;}
.footercontact{text-decoration: none;}
